.site-header {
  margin-bottom: 3em;
}

.navbar-brand a {
  color: $white;
}

#page {
  display: grid;
  grid-template-columns: 25% 30px auto;
  grid-template-rows: auto auto;
  grid-template-areas: "side previous content " "footer footer footer ";
}

header#masthead {
  grid-area: side;
  position: sticky;
  top: 0;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  .csstry {
    position: absolute;
    top: 0;
    right: -1px;
    bottom: 0;
    width: 100%;
    background: $body-bg;
    /* The points are: centered top, left bottom, right bottom */
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
  }
  .logo {
    position: absolute;
    left: 30px;
    top: 30px;
    width: 20%;
    height: auto;
    z-index: 1;
    margin: 0;
    img {
      height: 100vh;
    }
  }
}

#previous {
  grid-area: previous;
  margin-top: 2.25rem;
  margin-left: 10px;
  i {
    font-size: 30px;
  }
}

footer {
  grid-area: footer;
  z-index: 1;
  color: white;
}

#content {
  grid-area: content;
}

@media (max-width: 576px) {
  #page {
    grid-template-columns: auto;
    grid-template-rows: 100px auto;
    grid-template-areas:
      "side"
      "content"
      "footer";
  }
  header#masthead {
    height: auto;
    .logo {
      width: 50px;
      left: 10px;
      top: 10px;
    }
  }
}

.background-image {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: 50% 70%;
}

.back-button {
  margin: 0 auto;
  width: 30px;
  font-size: 30px;
  display: block;
}

h1 {
  font-family: "gothambold"
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
}

h2 {
  font-family: "gothambook"
  margin-top: 10px;

  &.sub-title {
    text-align: center;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: theme-color(primary);
    margin-bottom: 2rem;
  }
}

h3,
.par-header {
  font-family: "gothambold" !important;
  font-size: 27px;
  text-transform: uppercase;
}

.par-subheader {
  font-family: "gothambook" !important;
  font-size: 18px;
  text-transform: uppercase;
}

h4 {
  font-family: "gothambook" !important;
  font-size: 20px;
  text-transform: uppercase;
  color: #0e1b35;
  &:hover {
    text-decoration: none;
    color: theme-color(primary);
  }

  transition: color 0.2s $bmd-animation-curve-default;
}

.wp-block-cgb-skadi-menu-item a:hover {
  text-decoration: none;
  text-decoration: none;
  h4 {
    color: theme-color(primary);
  }
}

.wp-block-cgb-block-skadi-block {
  h2 {
    font-family: "gothambold";
    text-transform: uppercase;
  }
}
