.sticky {
  display: block;
}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.post {
  margin-bottom: 4em;
  padding-bottom: 1em;
}

.post-thumbnail {
  margin-bottom: 1em;
}

.entry-meta,
.entry-footer {
  font-size: 0.75rem;
  margin: 0.75em 0 2em;

  .material-icons {
    color: $gray-600;
    font-size: 0.75rem;
    vertical-align: middle;
    padding-bottom: 0.2rem;
    margin-right: 0.2rem;
  }
  span {
    margin: 0 1.5em 0.4em 0;
    display: inline-block;

    &:last-child {
      margin: 0;
    }

    a {
      text-decoration: none;
      color: $gray-600;

      &:hover {
        color: $gray-900;
      }
    }
  }
  .edit-link {
    .btn {
      color: $white;

      &:hover {
        color: $white;
      }
    }
  }
}

/* Posts Navigation */
.nav-links {
  display: flex;
  justify-content: space-between;
}

.post-navigation {
  margin: 2rem 0;
}

/* Screenreaders */
.screen-reader-text {
  @include sr-only;
}

/* 404 page */
.error404 {
  .content-area {
    @include make-col-ready();
    @include make-col(12);
  }
}

.home {
  .site-header {
    margin-bottom: 0;
  }
  .home-hero {
    text-align: center;
    color: $white;
    background-color: #3f51b5;
    padding: 5rem 0;
    margin-bottom: 4rem;

    h1 {
      font-size: 5rem;
    }

    .lead {
      margin-bottom: 3rem;
    }

    a {
      color: #ffa726;
    }
  }

  .columns {
    text-align: center;

    h2 {
      margin-bottom: 3rem;
    }

    .lead {
      margin-top: 8rem;
    }
  }
}

/*--------------------------------------------------------------
## Landing Page
--------------------------------------------------------------*/
#wrapper {
  width: 100%;
  overflow: hidden; /* will contain if #first is longer than #second */
}
#first {
  width: 25%;
  float: left; /* add this */
}
#second {
  margin-top: 50px;
  margin-left: -10px;
  margin-right: -10px;
  width: 75%;
  overflow: hidden; /* if you don't want #second to wrap below #first */
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-chevron-left:before {
  content: "\f053";
}
.back-button {
  margin: 0 auto;
  width: 30px;
  font-size: 30px;
  display: block;
}
.special-offer {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.special-offer .logo {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 20%;
  height: auto;
  z-index: 1;
}

.special-offer img {
  margin: 0;
}

.icons {
  margin: 15px 0;
}
.icons div img {
  width: 80%;
  height: auto;
}

.icon_frame {
  position: static;
  float: left;
}
.icons:after {
  content: "";
  clear: both;
  display: table;
}

.icons img {
  position: static;
}

#col4365 {
  float: left;
}
#header_icons {
  overflow: hidden;
}

.csstry {
  position: absolute;
  top: 0;
  right: -1px;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: white;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}
.background-image {
  background-image: url("https://www.skadi.nl/images/32376042467-e01146193f-k-medium.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: 80% 70%;
}

@media (min-width: 992px) {
  .icons div {
    padding: 0 6%;
  }
}

.icons div img {
  width: 80%;
  height: auto;
}
.icons div {
  float: left;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
* Front Page
*
*/

.hover-item .trapezoid {
  transition: 0.3s;
}

.container-fluid {
  padding: 0;
}

#row4441 {
  margin: 0;
}

#col4442 {
  padding: 0;
}

.section {
  padding: 0;
}

#pagemain {
  display: none;
}

.header {
  float: right;
  width: 59.5%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.header__text {
  position: relative;
  padding: 3.5rem 0 7rem;
}
.header__text > h1 {
  margin: 0;
  font-size: 2.5rem;
}
.header > .trapezoid {
  position: absolute;
  top: -30px;
  left: 0;
  width: 120%;
  height: 120vh;
  transform: skewX(-23deg);
  transform-origin: bottom right;
  background: rgba(255, 255, 255, 0.5);
  background-position: top center;
  background-attachment: fixed;
}

#buttons {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  z-index: 1;
}

img {
  width: 350px;
  bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 1;
}

body {
  height: 100vh;
}

.mat-button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: solid 1px;
  border-color: #18933c;
  padding: 0 16px;
  min-width: 64px;
  height: 40px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: #18933c;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  line-height: 40px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
}

.mat-button ::-moz-focus-inner {
  border: none;
}

/* Overlay */
.mat-button ::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: currentColor;
  opacity: 0;
  transition: opacity 0.2s;
}

/* Ripple */
.mat-button ::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  padding: 50%;
  width: 32px;
  height: 32px;
  background-color: currentColor;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.mat-button ::before {
  opacity: 0.04;
}

.mat-button ::before {
  opacity: 0.12;
}

.mat-button ::before {
  opacity: 0.16;
}

/* Active */
.mat-button :active::after {
  opacity: 0.16;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0s;
}

/* Disabled */
.mat-button :disabled {
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  background-color: transparent;
  cursor: initial;
}

.mat-button :disabled::before {
  opacity: 0;
}

.mat-button :disabled::after {
  opacity: 0;
}
